<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Post Details</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 antialised font-sans">
<nav class="bg-blue-600 p-8 text-white flex justify-between">
        <div>
            <h1 class="text-4xl font-bold">AI Blog WebApp</h1>

        </div>
        <div>
            <a href="#" class="hover:underline">logout</a>
        </div>
     </nav>
     <!-- main content section  -->
      <div class="container mx-auto mt-10 px-4 sm:px-0">
        <div class="max-w-3xl mx-auto bg-white p-6 rounded-lg shadow-md">
            <section>
                <h2 class="text-xl mb-4 font-semibold">Blog Post Details</h2>
                <div class="border border-gray-300 rounded-lg p-4">
                    <h3 class="text-lg font-semibold"> 
                        Blog title
                    </h3>
                    <p class="text-gray-700">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero, nostrum.
                    </p>
                    <hr class="border-gray-300 my-4">
                    <h4 class="text-lg font-semibold">Youtube Title</h4>
                    <p class="text-gray-700">Title of the associated youtube video.</p>
                    <h4 class="text-lg font-semibold mt-4">Youtube Link</h4>
                    <a href="#" class="text-blue-600 hover:underline">www.youtube.com</a>
                </div>

            </section>
        </div>
      </div>

<footer class="bg-blue-600 text-white text-center p-4 mt-10">
        <p>Made by <a href="github.com/bigyan08" class="font-semibold">Bigyan</a>. All rights reserved.</p>
    
</body>
</html>